#demo { width: 400px; margin: 0 auto; text-align: center; }

#controls { text-align: center; }

#demo #notes   { margin-bottom: 1em; }
#demo #diagram { width: 400px; height: 275px; }
#demo #output  { width: 100%;  height: 30em;  }

#demo.green  #diagram { background: url(images/alerts.green.png);  }
#demo.yellow #diagram { background: url(images/alerts.yellow.png); }
#demo.red    #diagram { background: url(images/alerts.red.png);    }

